<video src="assets/video/mountain.mp4" class="w-screen h-screen z-0 top-0 absolute object-cover" autoplay loop muted></video>
<div class="absolute top-0 left-0 w-full flex flex-col justify-center items-center z-10 p-0">
  <div class="w-[90%] h-screen flex items-center justify-between space-y-8">
    <div class="w-full flex flex-col justify-start items-start text-start">
      <h1 class="text-[160px] font-bold text-white rounded-lg ">
        <span class="capitalize">Wyve</span><span class="">Lyx</span>
      </h1>
      <ngx-typed-js
        [strings]="['Tecnología sumergible' , 'Contra la obsolescencia programada', 'Tecnologia por un mañana','Unete al cambio']"
        [showCursor]="false">
        <h1 class="typing text-4xl text-white min-h-[40px]"></h1>
      </ngx-typed-js>
    </div>




  </div>
</div>