<div class="w-full fixed flex justify-center items-center shadow-lg z-30 bg-white h-12">
  <div class="w-full flex flex-row justify-evenly items-center">
    <img src="assets/images/logo.svg" alt="logo" class="h-12" />
    @for(ruta of rutasPagina; track ruta){
    <a [routerLink]="ruta.url" RouterLinkActive="underline"
      class="text-slate-800 text-md font-semibold uppercase hover:underline hover:decoration-2 hover:decoration-slate-800 hover:underline-offset-8 active:underline active:decoration-2 active:decoration-slate-800 active:underline-offset-8">
      {{ ruta.nombre }}
    </a>
    }
    <div class="flex flex-row items-justify justify-evenly gap-x-2">
      @for(ruta of rutasIcono; track ruta){
      <img [src]="ruta.icon" alt="icono" [routerLink]="ruta.url" class="max-w-8 cursor-pointer" />
      }
    </div>
  </div>
</div>