<div class="min-h-screen bg-green-50">
  <!-- Header -->
  <header class="bg-green-700 text-white py-8 px-4 shadow-lg">
    <div class="container mx-auto text-center">
      <div class="flex justify-center items-center mb-2">

        <h1 class="text-3xl md:text-4xl font-bold">
          Nuestros Productos Sostenibles
        </h1>
      </div>
      <p class="text-green-100 text-lg">
        Comprometidos con el medio ambiente y tu bienestar
      </p>
    </div>
  </header>



  <!-- Lista de Productos -->
  <div class="container mx-auto px-4 py-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
      <!-- Product Card -->
      @for(product of productos;track $index){

      <div class="bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300">


        <!-- Product Image -->
        <div class="h-48 overflow-hidden">
          <img [src]="product.imagen" [alt]="product.nombre"
            class="w-full h-full object-cover hover:scale-105 transition-transform duration-500" />
        </div>

        <!-- Product Info -->
        <div class="p-4">
          <h3 class="text-lg font-semibold text-green-800 mb-1">
            {{ product.nombre}}
          </h3>
          <p class="text-gray-600 text-sm mb-3">{{ product.descripcion }}</p>



          <!-- Price and Action -->
          <div class="flex justify-between items-center">
            <span class="text-green-700 font-bold text-lg">{{
              product.precio
              }}</span>
            @if(product.stock>0){
            <button (click)="addToCarrito(product)"
              class="bg-green-600 hover:bg-green-700 text-white px-3 py-1 rounded-lg flex items-center transition-colors">
              <icon-cart></icon-cart>
              Añadir
            </button>
            }
            @if(product.stock==0){
            <button (click)="addToCarrito(product)"
              class="bg-green-600 hover:bg-green-700 text-white px-3 py-1 rounded-lg flex items-center transition-colors "
              disabled>
              <icon-cart></icon-cart>
              Agotado
            </button>
            }

          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>