<div
    class="flex w-full h-screen flex-col justify-center items-center absolute top-0 left-0 bg-gradient-to-b from-blue-500 to-blue-400 transition-all duration-500">
    <div class="flex flex-row rounded-xl shadow p-2 ">
        <div class="flex justify-center align-center p-2">2</div>
        <div class="flex flex-col justify-center align-center p-2">
            <h1 class="text-4xl text-center p-2">Bienvenido de vuelta</h1>
            <p class="text-center max-w-80">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere perferendis
                earum et accusantium
                mollitia esse, aut excepturi quasi blanditiis voluptas alias qui, ipsam odio placeat. Autem aut delectus
                architecto fugit!</p>
            <form action="" class="mt-4">
                <div class="flex flex-col mt-2">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="p-2 rounded-lg border border-gray-300">
                </div>
                <div class="flex flex-col">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="p-2 rounded-lg border border-gray-300">
                </div>
                <div class="flex flex-col mt-2">
                    <button type="submit" class="p-2 bg-blue-500 text-white rounded-lg">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>