<div #canvasContainer class="fixed bottom-20 left-0"></div>
<div class="flex flex-col bg-white justify-center absolute right-0 shadow min-h-full w-96 pb-16 ">
    <div class=" border-b p-6 ">
        <p class="text-2xl">Selecciona tu producto</p>
        <div class="flex flex-col justify-evenly py-4 gap-y-6">
            @for (item of productos; track $index) {
            <div class=" border border-gray-300 hover:shadow-lg p-2" (click)="showItem(item.fn)">
                <p class="p-2"><span class="capitalize">{{item.nombre}}</span></p>
                <p class="px-2"><span class="font-semibold bg-gray-200 p-1 capitalize">{{item.categoria}}</span></p>
                <p class="p-2"><span>Procesador: {{item.procesador}}</span></p>
                <p class="p-2"><span>{{item.precio}}€</span></p>

            </div>
            }
        </div>
    </div>
    <div class=" border-b p-6 ">

        <p class="text-2xl">Agrega un seguro</p>
        <div class="flex flex-col justify-evenly py-4 gap-y-6">
            @for (item of seguros; track $index) {
            <div class=" border border-gray-300 hover:shadow-lg p-2 ">
                <p class="p-2"><span class="capitalize">{{item.nombre}}</span></p>
                <p class="px-2"><span class="font-semibold bg-gray-200 p-1 capitalize">{{item.categoria}}</span></p>
                <p class="p-2"><span>Procesador: {{item.descripcion}}</span></p>
                <p class="p-2"><span>{{item.precio}}€</span></p>

            </div>
            }
        </div>
    </div>
    <div class=" border-b p-6 ">

        <p class="text-2xl">Agrega extras</p>
        <div class="flex flex-col justify-evenly py-4 gap-y-6">
            @for (item of extras; track $index) {
            <div class=" border border-gray-300 hover:shadow-lg p-2">
                <p class="p-2"><span class="capitalize">{{item.nombre}}</span></p>
                <p class="px-2"><span class="font-semibold bg-gray-200 p-1 capitalize">{{item.categoria}}</span></p>
                <p class="p-2"><span>Procesador: {{item.descripcion}}</span></p>
                <p class="p-2"><span>{{item.precio}}€</span></p>

            </div>
            }
        </div>
    </div>
</div>
<div class="fixed bottom-0 w-full h-20 shadow-lg border-t-2 border-gray-300 z-10 flex justify-between bg-white">
    <div class="flex justify-center items-center px-8">Modelo seleccionado</div>
    <div class="flex justify-center items-center gap-x-6 pr-6">
        <div class="flex flex-col">
            <p class="uppercase">Precio total</p>
            <p>111 <span>€</span></p>
        </div>
        <button class="bg-blue-600 px-6 py-4 rounded text-white font-bold">Agregar al carrito</button>
    </div>

</div>