<img src="assets/images/underwater.jpg" class="fixed w-full h-full object-cover object-bottom z-0" alt="" />
<div class="absolute top-0 left-0 w-full flex justify-center items-center">

  <div class=" w-[70%] flex justify-evenly items-center z-20 p-2 m-2 bg-black/20">
    <img src="assets/images/logo_small.png" alt="" class="w-32 h-32" >
    @for(ruta of rutasPagina;track $index){
    <a href="{{ ruta.url }}"
      class="p-2 text-white text-2xl font-semibold uppercase hover:underline hover:decoration-2 hover:decoration-white hover:underline-offset-8 active:underline active:decoration-2 active:decoration-white active:underline-offset-8">
      {{ ruta.nombre }}
    </a>
    }
  </div>
</div>

<div class="absolute top-0 left-0 w-full h-full flex justify-center items-center z-10 overflow-hidden">
  <div class="w-[90%] h-full flex items-center justify-between space-y-8">
    <div class="w-full flex flex-col justify-start items-start text-start">
      <h1 class="text-[160px] font-bold text-white rounded-lg">
        <span class="capitalize te">Wyve</span><span class="uppercase">Lyx</span>
      </h1>
      <h2 class="text-4xl text-white">Tecnología sumergible</h2>
    </div>

    <div class="flex justify-center items-center rounded-2xl p-10 gap-8 w-full max-w-4xl">
      <app-mobile-home />

    </div>
  </div>
</div>